body{margin: 0;}
.topo-site { padding: 10px; background: #6DA3E0; height: 40px;}
.topo-site h1 {margin: 0; float: left;  color: #000;}
.topo-site a {float: right; margin: 0 10px; display: block; background: #EEE; border-radius: 3px; border: 1px solid #ccc; padding: 5px 15px; color: #000; text-decoration: none;}
.topo-site a:hover {background: #DDD;}
.topo-site span {float: right; margin: 0 10px; color: #0003ff;}

/* Topo menu*/
.topo-menu ul {border-bottom: 1px solid #CCC; height: 20px;}
.topo-menu li {float: left; list-style: none; }
.topo-menu li a {margin: 0 10px; display: block; text-decoration: none; color: #000; }

.conteudo {margin: 20px auto; width: 900px;}

.btn {border: 1px solid #563F3F; background: #6DA3E0 ;
	text-decoration: none;padding: 5px 10px; color: #000;}

